#text {
    text-align: justify;
    padding: 15px;
}

#text p {
    padding: 15px 0;
}

#text ul {
    padding: 0 15px;
    /* list-style: none; */
}

#text ul li, #text p {
    line-height: 1.5;
}

#text ul li {
    list-style-type: disc;
    color: #4a98dc;
}
#text ul li span{
    color: rgb(32, 32, 32);
}