
.mr-l{
    margin-left: auto;
}
.mr-r{
    margin-right: auto;
}
.mr-h{
    margin: auto 0;
}

.mr-w{
    margin: 0 auto;
}

.anim-right{
    transform: translateX(1300px);
}
.anim-left{

    transform: translateX(-1300px);
}

@media (max-width:768px){
    .anim-right{
        transform: none;
    }
    .anim-left{

        transform: none;
    }
}