#about {
    color: white;
    background: black;
    padding: 15px;
}

#about .name h2 {
    margin-top: 15px;
    font-size: 2em;
}

#about .content {
    padding: 15px;
}

#about .content p {
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
}

@media(max-width:992px) {
    #about .content p {
        font-size: 1em;
    }
}