#services{
    position: relative;
    color: #484848;
}
#services .item{
    box-shadow: 5px 5px 10px #e4e4e4;
    padding: 15px;
    background: white;
    transition: 0.5s;
}
#services:hover .item{
    box-shadow: 5px 5px 15px #c4c4c4;
}
#services .ser_img img {
    width: 60%;
    padding: 15px;
    float: right;
    transform: translateX(300vw)
}

#services .s-name h2{
    font-size: x-large;
    padding: 15px 0;
    font-weight: 600;
}

#services .content ul{
    list-style: none;
}
#services .content ul li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
#services .content ul li i{
    margin-right: 10px;
}
#services .s-line{
    background: #eee;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    height: 80%;
}