#home {
    height: 400px;
    width: 100%;
    background: transparent url('/img/homesm.jpg') no-repeat center center;
    background-size: 100%;
}

.home-name h1 {
    padding: 35px 0 15px;
    color: white;
    font-size: 3em;
}

.home-name .sm-line {
    width: 50px;
    height: 1.5px;
    background: red;
}

.home-fl {
    width: 100%;
    background: rgb(243, 58, 58);
    /* height: 200px; */
    margin-top: -10%;
    /* padding: 30px; */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #0000002f;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.home-fl-name h2 {
    color: white;
    font-weight: 400;
    padding: 15px 0;
}

.pl-down,.pl-up{
    padding: 30px;
}
.pl-down{
    padding: 15px 30px; 
}
.radio-btn {
    display: flex;
    list-style: none;
}
.radio-btn input{
    margin: 15px;
}
.radio-btn li{
    color: white;
}

