#home {
    height: 400px;
    width: 100%;
    background: transparent url('/img/homesm.jpg') no-repeat center center;
    background-size: cover;
}

.home-name h1 {
    padding: 35px 0 15px;
    color: white;
    font-size: 3em;
}

.home-name .sm-line {
    width: 50px;
    height: 1.5px;
    background: red;
}

.home-fl {
    width: 100%;
    background: rgb(243, 58, 58);
    /* height: 200px; */
    margin-top: -10%;
    /* padding: 30px; */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #0000002f;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    border: 4px solid white;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.home-fl-name h2 {
    color: white;
    font-weight: 400;
    padding: 15px 0;
}

.pl-up {
    padding: 30px;
}

/* .pl-down{
    padding: 15px 30px;
    background-color: rgb(228, 5, 5); 
} */

.radio-btn {
    display: flex;
    list-style: none;
}

.radio-btn input {
    margin: 15px;
}

.radio-btn li {
    color: white;
}

/* The container */

.custom-radios {
    padding: 15px 30px;
    background-color: rgb(228, 5, 5);
}

.custom-radios div {
    display: inline-block;
}

.custom-radios input[type="radio"] {
    display: none;
}

.custom-radios input[type="radio"]+label {
    color: white;
    font-size: 14px;
    margin: 0 5px;
}

.custom-radios input[type="radio"]+label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 0;
}

.custom-radios input[type="radio"]+label span i {
    opacity: 0;
    transition: all .3s ease;
    color: white;
}

/* .custom-radios input[type="radio"]#color-1 + label span {
    background-color: rgba(0, 0, 0, 0.261);
  }
  .custom-radios input[type="radio"]#color-2 + label span {
    background-color: rgba(0, 0, 0, 0.261);
  }
  .custom-radios input[type="radio"]#color-3 + label span {
    background-color: rgba(0, 0, 0, 0.261);
  }
  .custom-radios input[type="radio"]#color-4 + label span {
    background-color: rgba(0, 0, 0, 0.261);
  } */

.custom-radios input[type="radio"]:checked+label span i {
    opacity: 1;
    /* background-color: rgba(0, 0, 0, 0.261); */
}

.custom-radios input[type="radio"]:checked+label span {
    background-color: rgba(0, 0, 0, 0.161);
}

.pl-down button {
    padding: 15px 30px;
    height: 100%;
    border: none;
    background: #c10404;
    color: white;
    cursor: pointer;
    transition: ease, 0.5s;
}

.pl-down button i {
    margin: 0 5px;
}

.pl-down button:hover {
    font-size: 16px;
}

@media (max-width:768px) {
    .custom-radios input[type="radio"]+label span {
        width: 15px;
        height: 15px;
        margin: -1px 0px 0 0;
    }
    .custom-radios input[type="radio"]+label span i{
        font-size: 1.4em;
    }
    .pd-none{
        padding: 0;
    }
    .custom-radios input[type="radio"]+label {
        font-size: 10px;
    }
    .pl-down button {
        width: 100%;
    }
    .custom-radios {
        padding: 15px 5px;
    }
    .home-name h1 {
        font-size: 2em;
    }
    #home {
        height: 200px;
    }
}

