Options -Indexes
Options +FollowSymLinks
RewriteEngine on

RewriteBase /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d


RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

#RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([0-9]+)$ index.php?menu=$1&catalog=$2&article=3 [L]
#RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ index.php?menu=$1&catalog=$2 [L]
#RewriteRule ^([A-Za-z0-9-\/]+)$ index.php?menu=$1 [L]